body {
  font-family: "Inter", sans-serif;
  padding: 20px;
  background-color: #f7f7f7;
  letter-spacing: 1.3px;
}
a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-weight: 500;
}
